.image-container {
  position: relative;
}

.img {
  width: 300px;
  border-radius: 1rem;
  margin-right: 2rem;
}

.superhost {
  position: absolute;
  background-color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: .25rem .5rem .25rem .5rem;
  left: 15px;
  top: 15px;
}